# CLI library
typer

# Discord bot lib
discord.py

# Loading from youtube
#youtube-dl
#youtube-search

# Loading from deezer
deemix

# Reading and writing tags
# pytaglib

# Playing audio
pydub
simpleaudio
